/*! CSS bare bones for recipes site */


html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: black;
 }
 
 
 *  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 
 /* the rest is up to you */

header {
  text-align: center;
  background-color: black;
  position:fixed;
  top: 0; 
  width:100%; 
  height: 4em; 
  z-index: 50;
}

header h1 {
  font-size: 2em;
}

footer {
  text-align: right;
  background-color: black;
  position:fixed;
  bottom: 0; 
  width:100%; 
  height: 3em; 
  
}

footer p {
  color: white;
  text-align: center;
}
 
 
 h1 {
  color:rgb(229, 0, 0);
 text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  text-shadow: rgb (131, 16, 16);
  font-size: 40px;
 
 }
 .recipehome p {
  font-size: 100px; 
 
 }

 .recipeshome main p { 
font-size: 30px; 
text-align: center;

 }
button{ 
  width: 50%;
  margin: 50px auto;
  display: block;
 background-color:red; 
 font-size: 30px;


}
button a { 

  color: white;
}

 
/* 
 .recipe main img:first-child{
  float:none;
  width: 100%;

 } */
/* 
 p:has(img) {

  width:50%; 
  float:right;
 } */

 a {
  text-decoration: none;
  color:red;
 }

 h1 a:hover {
  color:rgb(0, 0, 0);
 
  }
 header h1 a:hover {
  color:white;
 }
 h2 {
  color: black;
  margin: 15px 15px 15px 15px;
  font-size: 45px;
  text-align: center;

 }
 
 
 ul {
  margin-left:25px;
  columns: 2;
  column-rule:  rgb(5, 5, 47);
  margin-right: 30px;
  font-weight: 400;
  margin-bottom: 15px;
 }
 
 
 li{
 
  /* font-size: smaller; */
  margin-bottom: 30px;
  margin-top: 20px;
 }
 
 
 p {
 text-align: justify;

 }
 
 
 main{
  width: 70%;
  max-width: 850px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);

  padding-bottom: 4em;
 }
 .recipelist main {

  background-color: rgba(250, 12, 12, 0);
 }

 .recipeslist h1 a { 
  font-size: 60px;
 }

 .recipe-teaser {
  border: 1px solid black;
  flex-basis:300px;
  flex-grow: 1; 
  padding: 1em; 
  margin: 1em; 
  background-color: rgb(255, 255, 255);

 }

.list{ 
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
 body{
  background-image: url("../uploads/aurel-serban-VQ3BI-Ggtao-unsplash.jpg");
  margin-top: 8em;
  background-repeat: no-repeat;
  background-size: cover;

 }
 
 img{
  width:100%;
  margin-top:15px;
  float:right;
 }
 
 
 ol{
  margin-left: 25px;
  text-align: justify;
  margin-right: 30px;
 }
 
 
 .caption {
 text-align: right;
 display: block;
 font-size: .8em;
 }
 
 #ingredients {
  color: red;
 }
 #methods {
  color: red;
  font-size: larger;
 }
 nav {
  margin:0; 
  position: fixed;
  top: 128px;
  width: 15%;
  padding-top: 0;
  
}
nav ul {
  columns:1 ;
  list-style: none;
  margin-left: 2px;
  margin-top:0;
  padding: 8px 15px;
  background-color: white;
  opacity: 0.8;
}
nav ul li{
  margin-bottom:7px;
  font-size: 10px;
  margin-top:0;
  font-weight: 600;

 
}
 @media screen and (max-width:800px) {
  nav {
    margin:0; 
    position: static;
    width: 100%;
    /* border: 1px solid red; */
   padding:1em;
  }

  nav ul {
    font-size: 1em; 
    text-align: center;
    width: 100%;
  }

  .recipe-teaser{
    width:100%;
    margin:auto;
    padding:auto;
  }

  .recipe-teaser h1{ 
    font-size: 2em;
  }

  .recipe-teaser p {
    font-size: smaller;
  }
  
  main { 
    width: 100%;
  }
  body{ 
    /* padding-top: 5em;  */
    background-image: url("../uploads/aurel-serban-VQ3BI-Ggtao-unsplash.jpg");
  }
footer { 
  bottom: 0; 
}
header {
  top:0; 
  position:fixed;
  height:auto;
  text-align: center;
  font-size:smaller;
  }

  .recipe ul {
    columns: 1;
    font-size: smaller;
  }

}
header div h1 a {
  font-size: 25px;
  padding-top: 0;
  margin: 0;
}
 
@keyframes test { 
  from {color: black;}
  to {color:red;}
}
h2 {

  color: black;
  animation-name: test;
  animation-duration: 5s;
  animation-iteration-count: 3;
}
 
 
