/*! CSS bare bones for recipes site */

 html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the rest is up to you */

body{
  background-color: bisque;
}
h1 {
  color:rgb(229, 9, 20);
 text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

h2 {
  color: rgb(20, 20, 68);
  margin: 15px 15px 15px 15px;

}

ul {
  margin-left:25px;
  columns: 2; 
  column-rule:  rgb(5, 5, 47);
  margin-right: 30px;
  font-size: larger;
  font-weight: 400;
 
}

li{

  font-size: smaller;
  margin-bottom: 12px; 
}

p {
text-align: justify;
}

main{
  width: 80%;
  max-width: 850px; 
  padding: 0 15px 0 15px;
  margin: 0 auto;
  background-color: white;
}

img{

  width:100%;
  margin-top:15px;
  margin-left: 15px;
  float:right;

}

.caption {
text-align: right;
display: block;
font-size: .8em;
}
